::-webkit-scrollbar {
    width: 10px;
    background-color: #252525; /* Cor de fundo da barra de rolagem */
  }
  
  /* Estilizando o traço da barra de rolagem */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #892be2; /* Cor do traço da barra de rolagem */
    height: 100px;
  }
  
  /* Estilizando o traço da barra de rolagem quando hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #521b85; /* Cor do traço da barra de rolagem quando hover */
  }